<nav id="primary-navbar" class="navbar navbar-fixed-top navbar-light bg-faded" role="navigation">
  <button class="navbar-toggler hidden-sm-up" type="button"
   data-toggle="collapse" data-target="#exCollapsingNavbar"
    aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar">

    <a class="navbar-brand" href="#">Paul B. Hartzog</a>

    <ul class="nav navbar-nav">

      <li class="nav-item">
        {{#link-to "home" class="nav-item nav-link"}}Home{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "about" class="nav-item nav-link"}}About{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "futurist" class="nav-item nav-link"}}Futurist{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "code" class="nav-item nav-link"}}Code{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "music" class="nav-item nav-link"}}Music{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "lego" class="nav-item nav-link"}}Lego{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "author" class="nav-item nav-link"}}Author{{/link-to}}
      </li>

    </ul><!-- end navbar links -->

  </div><!-- end collapsible navbar -->
</nav><!-- end primary-navbar -->
