@import "bootstrap";

.test {
  color:red;
}

body {
  /* do not extend under fixed navbars on load */
  padding-top: 6rem;
  padding-bottom: 6rem;

  /* for scrollspy */
  position: relative;
}

.active {
  color:red;
}
