<div class="container">

  {{zog-jumbo}}

    <div class="card-deck-wrapper">
      <div class="card-deck">

        {{#each model as |card|}}
        <div class="card">
          <div class="card-header">
            {{card.title}}
          </div>
          <div class="card-block">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">
              {{card.text}}
            </p>
            <p class="red">
              red from app.scss
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          <div class="card-footer text-muted small">
            {{card.footer}}
          </div>
        </div><!-- end card -->
        {{/each}}

      </div><!-- end card deck -->
    </div><!-- end card deck wrapper -->

{{!--
        <div class="card">
          <div class="card-header">
            Card Title
          </div>
          <div class="card-block">
            <p class="card-text">
              This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            </p>
          </div>
          <div class="card-footer text-muted small">
            Last updated 3 mins ago
          </div>
        </div><!-- end card -->

        <div class="card">
          <div class="card-header">
            Card Title
          </div>
          <div class="card-block">
            <p class="card-text">
              This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            </p>
          </div>
          <div class="card-footer text-muted small">
            Last updated 3 mins ago
          </div>
        </div><!-- end card -->

        <div class="card">
          <div class="card-header">
            Card Title
          </div>
          <div class="card-block">
            <p class="card-text">
              This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            </p>
          </div>
          <div class="card-footer text-muted small">
            Last updated 3 mins ago
          </div>
        </div><!-- end card -->

      </div>
    </div>

    <div class="card-deck-wrapper">
      <div class="card-deck">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card-deck-wrapper">
      <div class="card-deck">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
--}}

  </div><!-- end container -->
